<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @evaluation.rate %>
</p>

<p>
  <strong>Event:</strong>
  <%= @evaluation.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @evaluation.user %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
