<%= form_with(model: alliance, local: true) do |form| %>
  <% if alliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alliance.errors.count, "error") %> prohibited this alliance from being saved:</h2>

      <ul>
      <% alliance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
